{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Team Blau Dashboard</title>

        <!-- Bootstrap CSS CDN -->
        <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Our Custom CSS -->
        <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'iconfont/material-icons.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Blue Seidon</h3>
                    <strong>BS</strong>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="{% url 'node_list' %}">
                            <i class="material-icons">home</i>
                            Point to point
                        </a>  
                    </li>
                    <li>
                        <a href="{% url 'chart' %}">
                            <i class="material-icons">assessment</i>
                            Charts
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">live_help</i>
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">info</i>
                            About
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled CTAs">
                    <li><a href="https://github.com/Rouben94/P6_Software" class="download">GitHub Repo</a></li>
                </ul>
            </nav>
            <div id="content">

                <div class="container-fluid shadow p-3 mb-5 bg-dark text-white">
                    <div class="d-flex justify-content-between">
                        <button type="button" id="sidebarCollapse" class="btn btn-dark navbar-btn">
                            <i class="material-icons">menu</i>
                        </button>
                        <h2>Point to Point Connection</h2>
                        <button type="button" id="connect" class="btn btn-dark navbar-btn">
                            <i class="material-icons">eject</i>
                        </button>
                    </div>
                </div>
            
                <!-- Page Content Holder -->
                {% block content %}
                {% endblock %}
            
            </div>
            
        </div>  

        <!-- jQuery CDN -->
         <script src="{% static 'js/jquery.min.js' %}"></script>
         <!-- Bootstrap Js CDN -->
         <script src="{% static 'js/bootstrap.min.js' %}"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>
