{% extends 'p2p/base_p2p.html' %}

{% block content %}

{% if messages %}
  {% for message in messages %}
   {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
{% endif %}

<h2>Node list</h2>
  <p>The parameters can be set below:</p> 
  <p>
    <form action="/node" method="post">
      {% csrf_token %}
      <p> {{ form }} </p>
      <p>
        <input type="submit" value="Set Parameters" class="btn btn-dark navbar-btn">
      </p>
  </form>
  </p>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
{% endblock %}