{% extends 'p2p/base_p2p.html' %}
{% block content %}

<!-- <script>
  setInterval(function () {
    $("#node_chart").load("chart #node_chart");
    const csrftoken = Cookies.get('csrftoken');
  }, 1000); //refresh every second
</script> -->



<!-- <script>
  setInterval(function () {
    $("#{{ node.mac }}").load("node #{{ node.mac }}");
  }, 2000); //refresh every second
</script> -->

<!-- <meta http-equiv="refresh" content="10" /> -->

{% for bar_div, node in bar_list %}

<script>
  setInterval(function () {
    $.ajax({
      url: "{% url 'chart' %}",
      success: function (data) {
        $('{{ node.mac }}').html(data);
      }
    });
  }, 2000); //refresh every second

</script>

<div class="accordion">
  <h3>Node MAC Address: {{ node.mac }}</h3>

  {% autoescape off %}
  <div id='{{ node.mac }}'>
    {{ bar_div }}
  </div>
  {% endautoescape %}

</div>
{% endfor %}

{% endblock %}